/** {
	font-family: Splatoon2;
}*/

window#waybar {
	background-color: transparent;
	margin: 8;
	font-size: 16px;
}

window#waybar.bottom .module {
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 20px;
}

window#waybar.bottom #custom-launcher {
	margin-left: 12px;
	padding-left: 11px;
	padding-right: 11px;
	background: linear-gradient(0.3turn, #e1b546, #ded944);
}

window#waybar.bottom #custom-power {
	padding-left: 15px;
	padding-right: 15px;
	background: linear-gradient(0.3turn, #e14646, #dea844);
}

window#waybar.bottom #taskbar {
	padding: 0 6px;
	background: linear-gradient(0.3turn, #404040, #686868);
}

window#waybar.bottom #workspaces {
	padding: 0;
}

window#waybar.bottom #workspaces button {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 12px;
	padding-right: 12px;
	background: linear-gradient(0.3turn, #e146b2, #de444c);
	border-radius: 20px;
	transition: all .25s ease;
}

window#waybar.bottom #workspaces button.active {
	padding-left: 20px;
	padding-right: 20px;
}

window#waybar.bottom #workspaces button.hidden {
	padding: 0;
}

window#waybar.bottom #window {
	margin-left: 0;
	background: linear-gradient(0.3turn, #e2772f, #d1b121);
	transition: all .25s ease;
}

window#waybar.bottom.empty #window {
	background: transparent;
	padding: 0;
}

window#waybar.bottom #clock {
	margin-right: 12px;
	background: linear-gradient(0.3turn, #46e199, #44cede);
}

window#waybar.bottom #custom-audio {
	padding-left: 15px;
	padding-right: 15px;
	background: linear-gradient(0.3turn, #2b73d7, #44b5de);
}

window#waybar.bottom #custom-break {
	padding-left: 12px;
	padding-right: 12px;
}

window#waybar.bottom #custom-break.resume {
	background: linear-gradient(0.3turn, #25be72, #3bc2a4);
}

window#waybar.bottom #custom-break.pause {
	background: linear-gradient(0.3turn, #d72b2b, #de8e44);
}

window#waybar.bottom #custom-break.defer {
	background: linear-gradient(0.3turn, #d7af2b, #dedc44);
}

window#waybar.bottom #tray {
	background: linear-gradient(0.3turn, #825ad1, #d15fb3);
}

/* Left Bar */

window#waybar.left .module {
	padding: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 20px;
}

window#waybar.left #clock {
	margin-top: 20px;
	padding: 16px;
	background: linear-gradient(0.1turn, #46e199, #44cede);
	font-size: 32px;
}

window#waybar.left #cpu {
	background: linear-gradient(0.1turn, #3aa1ba, #3d74c8);
	font-size: 12px;
	border-radius: 16px;
}

window#waybar.left #memory {
	background: linear-gradient(0.1turn, #dc9b45, #e5d246);
	border-radius: 16px;
}

window#waybar.left #workspaces {
	padding: 0;
}

window#waybar.left #workspaces button {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: linear-gradient(0.1turn, #e146b2, #de444c);
	border-radius: 20px;
}

window#waybar.left #workspaces button.active {
	padding-top: 16px;
	padding-bottom: 16px;
}

window#waybar.left #custom-pedalphile {
	font-size: 10px;
	padding: 6px;
	padding-left: 8px;
	padding-right: 8px;
	background: linear-gradient(0.1turn, #bdbdbd, #979797);
	border-radius: 8px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 0;
}

window#waybar.left #custom-mute-game, window#waybar.left #custom-mute-vc {
	font-size: 12px;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 8px;
}

window#waybar.left #custom-mute-game {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 4px;
}

window#waybar.left #custom-mute-vc {
	margin-top: 0;
	margin-bottom: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

window#waybar.left #custom-mute-game.unmute, window#waybar.left #custom-mute-vc.unmute {
	background: linear-gradient(0.1turn, #0bcf0b, #09b498);
}

window#waybar.left #custom-mute-game.mute, window#waybar.left #custom-mute-vc.mute {
	background: linear-gradient(0.1turn, #ed0b0b, #dd6b0e);
}