Config(
  x: Absolute(300),
  y: Fraction(0.5),
  width: Absolute(600),
  height: Fraction(1),
  hide_icons: false,
  ignore_exclusive_zones: true,
  layer: Overlay,
  hide_plugin_info: true,
  close_on_click: false,
  show_results_immediately: true,
  max_entries: None,
  plugins: [
    "libstdin.so",
  ],

  keybinds: [
    Keybind(
      key: "Return",
      action: Select, 
    ),
    Keybind(
      key: "Up",
      action: Up, 
    ),
    Keybind(
      key: "Down",
      action: Down, 
    ),
    Keybind(
      key: "ISO_Left_Tab",
      action: Up,
      shift: true,
    ),
    Keybind(
      key: "Tab",
      action: Down, 
    ),
    Keybind(
      key: "Escape",
      action: Close, 
    ),
  ],
)