* {
	color: #eee;
}

.monitor {
	border: none;
	background: transparent;
}

.monitor_active {
	border: none;
}

.index {
	border: none;
	background: transparent;
}

.workspace {
	border: none;
	background: linear-gradient(0.3turn, #1f4364, #1f5f64);
}

.workspace_special {
	border: var(--border-size) solid yellow;
}

.workspace_active {
	border: none;
}

.client-image {
	background: transparent;
}

.client {
	margin: 8px;
	border: none;
  border-radius: var(--border-radius);
	background: linear-gradient(0.4turn, #297582, #288263);
	transition: filter .25s ease, transform .25s ease, box-shadow .25s ease;
}

.client:hover {
	filter: brightness(90%);
}

.client_active {
	transform: translate(5px, -5px);
	box-shadow: -5px 5px #aaa;
	filter: brightness(120%);
}