Config(
  // Whether to allow the user to input any arbitrary text besides the options provided
  allow_invalid: true,
  // How many entries should be displayed at max
  max_entries: 20,
  // Whether to preserve the original order of entries instead of sorting by fuzzy match score. Matches are still filtered out if there is no similarity to input.
  preserve_order: true,
)
